@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./styles/array.css');

.scrolling-text {
  white-space: nowrap; /* Ensures the text stays on a single line */
  overflow: hidden; /* Hides the text when it's outside of the container */
  box-sizing: border-box;
  display: inline-block;
  animation: scroll 18s linear infinite; /* Adjust the duration and direction */
}

@keyframes scroll {
  0% {
    transform: translateX(125%); /* Start from the right side of the screen */
  }
  100% {
    transform: translateX(-150%); /* End at the left side of the screen */
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 8px;
  background-clip: content-box;
  border: 2px solid transparent;
}

body {
  background-size: 15px 15px;
  background-color: #0a0d0f;
  font-family: 'Array-Wide', 'sans-serif';
  @apply overflow-x-hidden
}
